﻿
<div>
    <h3>Upload Your Excel File</h3>
    @using (Html.BeginForm("Index",
                            "UploadExcel",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload Excel:</label>
        <input type="file" name="file" id="file" /><br><br>
        <input type="submit" value="Upload Excel" />
        <br><br>
        @ViewBag.Message
    }
</div>


<div>
    @using (Html.BeginForm("ParseExcelFile",
                               "UploadExcel",
                               FormMethod.Post,
                               new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="Parse Excel File" />

    }
</div>
